<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>SearchForCourse</servlet-name>
        <servlet-class>Servletts.SearchForCourse</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddBookmark</servlet-name>
        <servlet-class>Servletts.AddBookmark</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>Servletts.AddAccount</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateReview</servlet-name>
        <servlet-class>Servletts.CreateReview</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ChangeUserSettings</servlet-name>
        <servlet-class>Servletts.ChangeUserSettings</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ActivateUser</servlet-name>
        <servlet-class>Servletts.ActivateUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>Servletts.AddCourse</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetMyReviews</servlet-name>
        <servlet-class>Servletts.GetMyReviews</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetTeacherInfo</servlet-name>
        <servlet-class>Servletts.GetTeacherInfo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servletts.Login</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>GetMyBookmars</servlet-name>
        <servlet-class>Servletts.GetMyBookmarks</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RemoveBookmark</servlet-name>
        <servlet-class>Servletts.RemoveBookmark</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Servletts.TestServlett</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>GetTeacherByStartingString</servlet-name>
        <servlet-class>Servletts.GetTeacherByStartingString</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RemoveReview</servlet-name>
        <servlet-class>Servletts.RemoveReview</servlet-class>
    </servlet>



    
    <servlet-mapping>
        <servlet-name>SearchForCourse</servlet-name>
        <url-pattern>/search-course</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddBookmark</servlet-name>
        <url-pattern>/add-bookmark</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/add-account</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CreateReview</servlet-name>
        <url-pattern>/create-review</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ChangeUserSettings</servlet-name>
        <url-pattern>/change-user-setting</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ActivateUser</servlet-name>
        <url-pattern>/activate-user</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/add-course</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GetMyReviews</servlet-name>
        <url-pattern>/get-my-reviews</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetTeacherInfo</servlet-name>
        <url-pattern>/get-teacher-info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>GetMyBookmars</servlet-name>
        <url-pattern>/get-my-bookmarks</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RemoveBookmark</servlet-name>
        <url-pattern>/remove-bookmark</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>GetTeacherByStartingString</servlet-name>
        <url-pattern>/get-teacher-by-starting-string</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoveReview</servlet-name>
        <url-pattern>/remove-review</url-pattern>
    </servlet-mapping>

</web-app>